.content_photo img {
    width:350px;
    height:300px;
    border-bottom-color:#000;
}
.vol_div img {
    width:500px;
    height:390px;
    padding-bottom:20px;
}
.img_content img {
    width: 500px;
    height:250px;
}
.languges_photo img{
    width: 150px;
    height:90px;
   padding-left: 70px;
    padding-top:20px;
    padding-bottom: 10px;
}
.pic_{
    padding-top: 60px;
    padding-left:85px;
   
    
}
.prof_img img { 
    width:600px;
    height:400px;
}
.img_1 img{
    width:300px;
    height:300px;
}